<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="form-group">
      <label class="control-label" style="margin-right:10px">Eu sou um/uma: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">Homem
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">Mulher
      </label>
    </div>  
  
    <div class="form-group">
      <input 
        [ngClass]="{'is-invalid': registerForm.get('username').errors
          && registerForm.get('username').touched}"
        type="text" 
        class="form-control is-invalid"  
        formControlName="username"  
        placeholder="Username">
      <div class="invalid-feedback">Por favor escolha um nome de usuario</div>
    </div>
 
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}" class="form-control"
        placeholder="Known as" formControlName="knownAs">
      <div class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">O apelido é necessario</div>
    </div>  

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
        placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
      <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Data de Aniversário é requerido</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" class="form-control"
        placeholder="City" formControlName="city">
      <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">Cidade é requerida</div>
    </div>
  
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}" class="form-control"
        placeholder="Country" formControlName="country">
      <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Estado é requerida</div>
    </div>  

    <div class="form-group">
      <input type="password"
        [ngClass]="{'is-invalid': registerForm.get('password').errors
        && registerForm.get('password').touched}"
        class="form-control" 
        formControlName="password" 
        placeholder="Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')
        && registerForm.get('password').touched">
        Palavra-chave é necessaria
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')
        && registerForm.get('password').touched">
        Palavra-chave deve ser no minumo 4 caracteres
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength')
        && registerForm.get('password').touched">
        Palavra-chave deve ser no maximo 8 caracteres
      </div>
    </div>

    <div class="form-group">
      <input type="password" 
        [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
          && registerForm.get('confirmPassword').touched
          || registerForm.get('confirmPassword').touched
          && registerForm.hasError('Senha diferente')}"
        class="form-control"  
        formControlName="confirmPassword"
         placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')
         && registerForm.get('confirmPassword').touched">
         Palavra-chave é necessaria
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.hasError('Senha diferente')
      && registerForm.get('confirmPassword').touched">
      Palavra-chave deve ser o mesmo
      </div>
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>
